<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <br>
                <br>
                <h1>The Center for Genomics and Personalized Medicine</h1>
                <h3>at The Florida State University</h3>
                <!-- <h5>More Lorem Ipsum added here too.</h5> -->
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 himg"> -->
                <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
            <!-- </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
